<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div id="app"></div>
    <script>window.user = <%- JSON.stringify(user)%></script> <!-- transfer user object to react entry point -->
    <script src="assets/app.js"></script>
  </body>
</html>
