<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <script>
      window.message = '<%=message%>'; <!-- transfer message object to react entry point -->
    </script>
    <div id="app"></div>

    <script src="assets/login.js"></script>
  </body>
</html>
